body {
  margin: auto;
  max-width: 600px;
  font-family: 'Oxygen';
  font-size: 100%;
  flex-direction: column;
  background-color: navy;
  opacity: 0.8;
  justify-content: center;
  color: #fff;

}

head {
  color: #fff;
  display: flex;
  flex-direction: center;
}
#navbar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: nav;
  margin-top: 1em;
}

#nav-links {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  width: 30%;
  padding: 1em;
  list-style: none;
  
}

.nav-link {
  padding-bottom: 1em;
  color: #fff;
}
.home-page-link {
  display: flex;
  flex-direction: column;
  color:#fff;
}

#add-button {
  padding: 0.50em;
  margin-bottom: 0.50em;
}
